
.home-header {
    background-color: rgb(14, 14, 131);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-header img {
    /* background-image: url('../../assets/logo.png') no-repeat right; */
    width: 50px;
    height: 50px;
    margin: 5px;
}

.home-header p {
    color: azure;
}

.main {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(229, 229, 236);
}

.main-title {
    background-image: url("../../assets/pin.png") no-repeat;
    background-size: cover;
    padding: 10px 10px 10px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-option {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.main-local {
    height: 150px;
}

.option-mark {
    border-bottom: 3px solid rgb(235, 231, 23);
}

input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 50%;
    background-color: rgb(245, 245, 239);
    color: rgb(14, 14, 131);
    margin-bottom: 10px;
}

.datas-filter {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: rgb(245, 245, 239);
    color: #4f4b4b;
    width: 90%;
    margin: 5px auto;
    border-radius: 7px;
}

.datas-local {
    display: flex;
    align-items: center;
}

.icon-enviar {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#map {
    width: 70%;
    height: 300px;
    margin: auto;
}